#affiliate-stores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EAF6FA;
  height: 80vh;
  padding: 5vh 0;
}

/* Store image sizes */
.store-lg {
  position: absolute;
  height: 100px;
  width: 100px;
}

.store-md {
  position: absolute;
  height: 75px;
  width: 75px;
}


/* Store positioning */
#nike {
  bottom: -200px;
  left: 300px;
}

#flowers {
  bottom: -300px;
  left: 250px;
}

#colehaan {
  bottom: -380px;
  left: 340px;
}

#overstock {
  bottom: -500px;
  left: 220px;
}

#microsoft {
  bottom: -550px;
  left: 350px;
}

#expedia {
  bottom: -200px;
  left: 1100px;
}

#glossier {
  bottom: -300px;
  left: 1150px;
}

#bloomingdale {
  bottom: -380px;
  left: 1050px;
}

#samsung {
  bottom: -480px;
  left: 1160px;
}

#jcpenney {
  bottom: -550px;
  left: 1030px;
}

/* Phone styles */
@media only screen and (max-width: 400px) {
  .store-lg {
    display: none;
  }

  .store-md {
    display: none;
  }
}

/* 1024 x 768 styles */
@media only screen and (min-width: 400px) and (max-width: 1030px) {
  #nike {
    bottom: -200px;
    left: 105px;
  }
  
  #flowers {
    bottom: -300px;
    left: 55px;
  }
  
  #colehaan {
    bottom: -380px;
    left: 145px;
  }
  
  #overstock {
    bottom: -500px;
    left: 25px;
  }
  
  #microsoft {
    bottom: -550px;
    left: 155px;
  }
  
  #expedia {
    bottom: -200px;
    left: 830px;
  }
  
  #glossier {
    bottom: -300px;
    left: 890px;
  }
  
  #bloomingdale {
    bottom: -380px;
    left: 820px;
  }
  
  #samsung {
    bottom: -480px;
    left: 890px;
  }
  
  #jcpenney {
    bottom: -550px;
    left: 860px;
  }
}

/* 1280 x 800 styles */
@media only screen and (min-width: 1030px) and  (max-width: 1300px) {
  #nike {
    bottom: -200px;
    left: 220px;
  }
  
  #flowers {
    bottom: -300px;
    left: 170px;
  }
  
  #colehaan {
    bottom: -380px;
    left: 260px;
  }
  
  #overstock {
    bottom: -500px;
    left: 140px;
  }
  
  #microsoft {
    bottom: -550px;
    left: 270px;
  }
  
  #expedia {
    bottom: -200px;
    left: 1000px;
  }
  
  #glossier {
    bottom: -300px;
    left: 1060px;
  }
  
  #bloomingdale {
    bottom: -380px;
    left: 960px;
  }
  
  #samsung {
    bottom: -480px;
    left: 1060px;
  }
  
  #jcpenney {
    bottom: -550px;
    left: 930px;
  }
}

/* 1920 x 1080 styles */
@media only screen and (min-width: 1800px ) and (max-width: 2000px) {
  /* Store image sizes */
  .store-lg {
    position: absolute;
    height: 150px;
    width: 150px;
  }

  .store-md {
    position: absolute;
    height: 125px;
    width: 125px;
  }

  #nike {
    bottom: -300px;
    left: 360px;
  }
  
  #flowers {
    bottom: -430px;
    left: 310px;
  }
  
  #colehaan {
    bottom: -530px;
    left: 400px;
  }
  
  #overstock {
    bottom: -670px;
    left: 280px;
  }
  
  #microsoft {
    bottom: -760px;
    left: 410px;
  }
  
  #expedia {
    bottom: -300px;
    left: 1420px;
  }
  
  #glossier {
    bottom: -430px;
    left: 1520px;
  }
  
  #bloomingdale {
    bottom: -520px;
    left: 1380px;
  }
  
  #samsung {
    bottom: -630px;
    left: 1520px;
  }
  
  #jcpenney {
    bottom: -750px;
    left: 1440px;
  }
}