.navbar {
    padding: 10px 50px;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.navbar--logo-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-sticky {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    animation: moveDown 0.5s ease-in-out;
}

.navbar-button {
    background-color: #00B04F;
    border-color: #00B04F;
    font-size: 1em;
    padding: 1em;
    margin-left: 60vw;
    height: 9vh;
}

.navbar--logo {
    width: 220px;
    height: 4vh;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        padding: 15px;
    }
}