/* DEFAULT TAGS */
/* .row {
  margin-right: 0px;
} */
a {
  color: #00B04F;
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}
.center {
  text-align: center;
}

/* HOW IT WORKS SECTION */

#how-it-works {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 5vh 0;
}

/* IMPACT/PROJECTS SECTION */
#impact {
  background-color: #ffffff;
  height: auto;
  padding: 5vh 0;
}

.impact-box-container {
  padding-top: 3vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.spacer {
  width: 8vw;
}
.impact-subtitle-container {
  padding-bottom: 5vh;
}
.impact-sub-heading {
  width: 100%; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
} 

.impact-sub-heading span { 
   background:#fff; 
   padding:0 10px; 
}

.project-boxes {
  display: flex;
  justify-content: space-around;
}

/* TESTIMONIAL SECTION */

#testimonials {
  padding: 5vh 0;
  text-align: center;
  background-color: #EAF6FA;
  height: auto;
}


/* QUESTIONS SECTION */

#questions {
  padding: 5vh 30vh;
  height: auto;
}

.container {
  text-align: center;
}

/* BOTTOM SECTION */

#bottom {
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: #EFEFEF;
}

/* TEXT STYLING */

h1 {
  color: #0C3C2A;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  color: #0C3C2A;
  font-weight: 700;
  font-size: 1.8em;
}

h3 {
  color: #0C3C2A;
  font-size: 1.2em;
}

/* Mobile styles */
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1600px ) and (max-width: 2000px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.6em;
  }
}